
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="menu-inner-wrap">
			<a href="" class="btn-action button-action-att js-menu-toggle">
				<div class="button-ico">
					<img src="./img/icons/menu.svg" alt="">
				</div>
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap">
				<a href="" class="btn-action button-action-att">
					<div class="button-ico">
						<img src="./img/icons/user.svg" alt="">
					</div>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->

<!--header-actions-panel-->
<div class="header-actions-panel">
	<div class="inner-wrap">
		<div class="action-wrap elm-hidden-mobile">
			<a href="" class="btn-action js-menu-width-toggle">
				<div class="button-ico">
					<img src="./img/icons/side-toggle-small.svg" alt="">
				</div>
				<div class="button-ico active">
					<img src="./img/icons/side-toggle.svg" alt="">
				</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action js-menu-toggle">
				<div class="button-ico">
					<img src="./img/icons/menu.svg" alt="">
				</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/home.svg" alt="">
				</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/support.svg" alt="">
				</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action active">
				<div class="button-ico">
					<img src="./img/icons/logo.svg" alt="">
				</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/notify.svg" alt="">
				</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/user.svg" alt="">
				</div>
			</a>
		</div>
		<div class="action-wrap elm-hidden-mobile">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/search.svg" alt="">
				</div>
			</a>
		</div>
	</div>
</div>
<!--/header-actions-panel-->