<!--main-menu-box-->
<div class="main-menu-box">
	<div class="menu-action-block">
		<a href="" class="btn-action-ico ico-menu-view-toggle js-menu-width-toggle"></a>
	</div>
	<div class="menu-content-block">
		<div class="menu-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">
						<div class="btn-action button-ico">
							<img src="./img/icons/home.svg" alt="">
						</div>
						<div class="button-title">Главный экран</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="btn-action button-ico">
							<img src="./img/icons/support.svg" alt="">
						</div>
						<div class="button-title">Ветеринар Онлайн</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu active">
						<div class="btn-action button-ico">
							<img src="./img/icons/logo.svg" alt="">
						</div>
						<div class="button-title">Ваши питомцы</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="btn-action button-ico">
							<img src="./img/icons/add.svg" alt="">
						</div>
						<div class="button-title">Добавить питомца</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="btn-action button-ico">
							<img src="./img/icons/notify.svg" alt="">
						</div>
						<div class="button-title">Оповещение</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="btn-action button-ico">
							<img src="./img/icons/map.svg" alt="">
						</div>
						<div class="button-title">Карта</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="btn-action button-ico">
							<img src="./img/icons/friends.svg" alt="">
						</div>
						<div class="button-title">Мои друзья</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="btn-action button-ico">
							<img src="./img/icons/user.svg" alt="">
						</div>
						<div class="button-title">Личный кабинет</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="info-wrap">
			<div class="elm-soc-panel">
				<div class="panel-title">Подпишись</div>
				<div class="panel-actions">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/more.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/main-menu-box-->